.container { 
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-position:center;
    
    width: 414px;
	height: 1450px;
	text-align: center;

	margin: 0 auto;
    color: white;

}

#moveBack{
    z-index: 100000000;
}

.night{
    background-image: url("../../assets/backgrounds/Night.svg");
}

.day{
    background-image: url("../../assets/backgrounds/DaySunSnow.svg");
}

.rain{
    background-image: url("../../assets/backgrounds/DayCloudRain.svg");
}

.sunset{
    background-image: url("../../assets/backgrounds/PlainSunset.svg");
}

.sunrise{
    background-image: url("../../assets/backgrounds/Sunrise.svg");
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.fimg{
    z-index: -1;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.details {
    flex: 2;
}
.city {
    flex-direction: row;
    flex: 1;
    font-size: 3em;
    font-weight: 350;	
}
.country {
    font-size: 1em;
    font-weight: 350;	
}
.conditions {
    flex: 1;
    font-size: 1em;
}
.temperature {
    flex: 2;
    margin-top: 0;
    font-size: 5.2em;
    font-weight: 300;
    letter-spacing: -7px;
}
.filled:after {
    content: "°";
    margin: 0 0 0 1rem;
    font-size: 0.5em;
    font-weight: 100;
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
}

.starfield{
    pointer-events: 'none';
    position: 'absolute';
    width: '100%';
    height: '100%';
}

.fimg{
    pointer-events: 'none';
    margin-top: -25px;
    float: center;
}

.fimg2{
    pointer-events: 'none';
    margin-top: -100px;
    float: center;
}

.floatOVer{
    pointer-events: 'none';
    width: 390px;
    height: 200px;
    position: relative;
}

.floatOVer2{
    pointer-events: 'none';
    width: 390px;
    height: 200px;
    position: relative;
}

.floating2{
    float: center;
    position: absolute;
    top: 210px;
    width: inherit;
    z-index: 1000;
    color: #FFFFFF;
    font-weight: bold;
}

.floating{
    float: center;
    position: absolute;
    top: 270px;
    width: inherit;
    z-index: 1000;
    color: #FFFFFF;
    font-weight: bold;
}

.swipe{
    position: absolute;
    right: 20px;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
    animation: typewriter 2s steps(44) 1s 1 normal both,
                blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 5em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

.autoComplete{
    position:relative;
}

.one {
    position: absolute;
    z-index: 10;
    top: 35px;
    right: 235px;
  }
  
  .two {
    height: 35px;
    width: 109%;
    margin-left: 1px;
    borderRadius: 25px;
    textAlign: center;
  }

.split{
    display:flex;
}

.left{
    margin-left: 8px;
    flex: 1;
}
.right{
    flex: 1;
}

.itm p:first-of-type{
    background: -webkit-linear-gradient(#ffffff, rgb(228, 228, 228));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.one:active{
    animation: colorchange 0.5s ease-in infinite;
    animation: pulse 0.5s ease-in infinite;
}

@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
}

@keyframes colorchange
{
    0% { color: rgb(0, 61, 61); }
    50% { color: rgb(0, 143, 143); }
    100% { color: rgb(0, 61, 61); }
}