.card{
    background-color: rgb(6,11,38,0.2);
    width: 10rem;
    height: 15rem;
    margin: 30px 10px 30px 10px; 
}
.cardBody{
    color: white;
}

.center{
    text-align: center;
}

.icon{
    margin: 0 0 0 10px;
}